<template>
  <div class="about">
    <h1>这里是登录页面</h1>
    <form action="">
      <input type="text" v-model="account" id="user" />
      <br/> 
      <input type="password" v-model="password" id="pwd" />
      <br/>
      <input type="button" @click="tohome" value="登录" id="logbtn" />
    </form>
  </div>
</template>
<script>

export default {
  name: 'Login',
  data() {
    return {
      account: '',
      password: '',
    };
  },
  methods: {
    tohome() {
      this.$axios
        .post('http://localhost:3000/api/login', {
          account: this.account,
          password: this.password,
        })
        //调用成功
        .then((result) => {
          if (result.data.code == 200) {
            //登录成功后的弹窗
            this.$message({
              message: '恭喜你，登陆成功',
              type: 'success',
            });
            console.log(result.data);
            localStorage.setItem('user', JSON.stringify(result.data.data));
            //登录成功后跳转到home页面
            this.$router.push({ path: '/home' });
          }
          console.log(result.data.msg);
          this.message = result.data.msg;
        })
        //调用失败
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>

