<template>
  <div class='login'>
    <el-form
      ref='loginForm'
      :model='loginForm'
      :rules='loginRules'
      class='login-form'
    >
      <h3 class='title'>登录 选课帮Pro</h3>
      <el-form-item prop='username'>
        <el-input
          v-model='loginForm.username'
          type='text'
          auto-complete='off'
          placeholder='账号'
        >
          <svg-icon
            slot='prefix'
            icon-class='user'
            class='el-input__icon input-icon'
          />
        </el-input>
      </el-form-item>
      <el-form-item prop='password'>
        <el-input
          v-model='loginForm.password'
          type='password'
          auto-complete='off'
          placeholder='密码'
          @keyup.enter.native='handleLogin'
        >
          <svg-icon
            slot='prefix'
            icon-class='password'
            class='el-input__icon input-icon'
          />
        </el-input>
      </el-form-item>
      <!-- <el-form-item prop='code'>
        <el-input
          v-model='loginForm.code'
          auto-complete='off'
          placeholder='验证码'
          style='width: 63%'
          @keyup.enter.native='handleLogin'
        >
          <svg-icon slot='prefix' icon-class='validCode' class='el-input__icon input-icon' />
        </el-input>
        <div class='login-code'>
          <img :src='codeUrl' @click='getCode' class='login-code-img'/>
        </div>
      </el-form-item> -->
      <el-checkbox
        v-model='loginForm.rememberMe'
        style='margin: 0px 0px 25px 0px'
        >记住密码</el-checkbox
      >
      <el-form-item style='width: 100%'>
        <el-button
          :loading='loading'
          size='medium'
          type='primary'
          style='width: 100%'
          @click.native.prevent='tohome'
        >
          <span v-if='!loading'>登 录</span>
          <span v-else>登 录 中...</span>
        </el-button>
      </el-form-item>
    </el-form>
    <!--  底部  -->
    <div class='el-login-footer'>
      <span>Copyright ©2022 Raft All Rights Reserved.</span>
    </div>
  </div>
</template>

<script>
//import { getCodeImg } from '@/api/login';
//import Cookies from 'js-cookie';
//import { encrypt, decrypt } from '@/utils/jsencrypt';

export default {
  name: 'Login',
  data() {
    return {
      codeUrl: '',
      cookiePassword: '',
      loginForm: {
        username: '',
        password: '',
        rememberMe: false,
        code: '',
        uuid: '',
      },
      loginRules: {
        username: [
          { required: true, trigger: 'blur', message: '用户名不能为空' },
        ],
        password: [
          { required: true, trigger: 'blur', message: '密码不能为空' },
        ],
        code: [
          { required: true, trigger: 'change', message: '验证码不能为空' },
        ],
      },
      loading: false,
      redirect: undefined,
    };
  },

  created() {
    //this.getCode();
    //this.getCookie();
  },
  methods: {
    tohome() {
      this.$axios
        .post('http://localhost:3000/api/login', {
          account: this.loginForm.username,
          password: this.loginForm.password,
        })
        //调用成功
        .then((result) => {
          if (result.data.code == 200) {
            //登录成功后的弹窗
            this.$message({
              message: '恭喜你，登陆成功',
              type: 'success',
            });
            console.log(result.data);
            localStorage.setItem('user', JSON.stringify(result.data.data));
            //登录成功后跳转到home页面
            this.$router.push({ path: '/home' });
          }
          console.log(result.data.msg);
          this.message = result.data.msg;
        })
        //调用失败
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>

<style lang='scss'>
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('../assets/images/login.jpg');
  background-size: cover;
}
.title {
  margin: 0px auto 30px auto;
  text-align: center;
  color: #707070;
}

.login-form {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 180px auto;
  width: 350px;
  padding: 35px 35px 15px;
  background: rgba(254, 254, 254, 0.749);
  border: 1px solid #eaeaea;
  box-shadow: 0 0 25px #cac6c6;
  //background-image: url('../assets/images/login-background.jpg');
  .el-input {
    height: 38px;
    input {
      height: 38px;
    }
  }
  .input-icon {
    height: 39px;
    width: 14px;
    margin-left: 2px;
  }
}
.login-tip {
  font-size: 13px;
  text-align: center;
  color: #bfbfbf;
}
.login-code {
  width: 33%;
  height: 38px;
  float: right;
  img {
    cursor: pointer;
    vertical-align: middle;
  }
}
.el-login-footer {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 1px;
}
</style>
